*{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

br{
    margin-bottom: 5px;
    margin-top: 5px;
}