{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        {% csrf_token %}
        <label for="{{forms.date.id_for_label}}">{{forms.date.label}}</label>
        {{forms.date}}<br>
        <label for="{{forms.Amount.id_for_label}}">{{forms.Amount.label}}</label>
        {{forms.Amount}}<br>
        <input type="submit" value="Submit">
    </form>
</body>
<link rel="stylesheet" href="{% static 'Budget/css/style_budget_form_css.css' %}">
</html>